/** @format */
body {
	font-family: Exo2-Medium;
	background-image: radial-gradient(rgba(23, 0, 128, 0.145), #fff);
	/* background-image: radial-gradient(#f7fbf9, #feffff); */

	margin: 0;
	padding: 0;
	/* background-repeat: no-repeat;  */
}
.login-bg {
	background: linear-gradient(to right, #0f1924bd, #0f192479),
		url("./assets/background.jpg") no-repeat center center/cover;
	backdrop-filter: blur(10px);
}
@font-face {
	font-family: Exo2-Medium;
	src: url(./fonts/Exo2-Medium.ttf);
}
